.register{
  &__title{
    font-weight: 400;
  }

  .form{
    background: $grey;
    &:nth-child(3){
      padding-top: 0;
      .form-element{
        &__button{
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
    }
    &-element{
      display: block;
      label{
        display: block;
        margin-bottom: 10px;
        font-weight: 600;
      }
    }
    p{
      font-weight: 600;
    }
  }
}
