.grid-content__head
    .grid-content__head__list
        a(href="grid.html")
            i.fa.fa-th-list
        a(href="list.html")
            i.fa.fa-list-ul
    p.grid-content__head__paging
        i.fa.fa-caret-left
        span 1
        span 2
        span 3
        i.fa.fa-caret-right
