.step-payment
    .step-payment__item.bg-yellow
        .step-payment__item__step
            | Bước 1:
        .step-payment__item__content
            |Kiểm tra giỏ hàng
    .step-payment__item
        .step-payment__item__step
            | Bước 2:
        .step-payment__item__content
            | Thông tin thanh toán
    .step-payment__item
        .step-payment__item__step
            | Bước 3:
        .step-payment__item__content
            | Thông báo kết quả