include modules/header

.container
    .link-intro
        a Home >
        a Sản Phẩm >
        a.cl-green Trang Sức >

.grid-banner
    img(src="../img/grid/banner-page.jpg")

.container.gridpage
    include modules/sidebar_gridlist-page
    .grid-content
        include modules/paging_head
        .grid-content__body
            mixin product_not-selected(img)
                .product
                    img(src=img)
                    .product__detail
                        .product__detail__type OHUI
                        .product__detail__name Mỹ phẩm châu Âu
                        img(src="../img/home/Shape 16 2.png")
                        .product__detail__price
                            .product__detail__price__new 35000
                                span đ
                            .product__detail__price__old 45000
                                span đ
            mixin product_selected(img)
                .product
                    img(src=img)
                    .product__detail
                        .product__detail__type OHUI
                        .product__detail__name Mỹ phẩm châu Âu
                        img(src="../img/home/Shape 16 2.png")
                        .product__detail__price
                            .product__detail__price__new 35000
                                span đ
                            .product__detail__price__old 45000
                                span đ
                        .product__detail__button
                            button MUA HÀNG
                            button
                                i.fa.fa-heart
                            button
                                i.fa.fa-refresh

            - var array_img_product = ["../img/home/Product copy 9.png","../img/home/Product copy 4.png","../img/home/01_Home_32.jpg","../img/home/01_Home_35.jpg","../img/home/01_Home_38.jpg","../img/home/Product copy 10.png"]
            - for( var i = 1;i <= 6;i++ )
             - if(i==2||i==5)
                +product_selected(array_img_product[i-1])
             - else
                +product_not-selected(array_img_product[i-1])

        include modules/paging_head

include modules/footer
