include modules/header

.container
    .link-intro
        a Home >
        a Sản Phẩm >
        a.cl-green Giỏ hàng >

.container
    .shopping-cart
        table.table
            thead
                th Ảnh
                th Tên sản phẩm
                th Giá
                th Số lượng
                th Tổng số
                th Xóa
            tbody.shopping-cart__table__body
                tr.shopping-cart__table__tr
                    td
                        img(src="../img/shopping cart/Layer 75.jpg")
                    td  Lắc tay D&G
                    td
                        |345.000
                        sup đ
                    td
                        input(type="number" value=0)
                    td
                        | 345.000
                        sup đ
                    td
                        button(onclick="removeProductInCart(this.value)" value="0")
                            i.fa.fa-trash
                tr.shopping-cart__table__tr
                    td
                        img(src="../img/shopping cart/Layer 75.jpg")
                    td  Lắc tay D&G
                    td
                        | 345.000
                        sup đ
                    td
                        input(type="number"  min=1)
                    td
                        | 345.000
                        sup đ
                    td
                        button(onclick="removeProductInCart(this.value)" value="0")
                            i.fa.fa-trash
        .shopping-cart__button
             button(onclick="location.href='payment_checkoutcart.html'" type="button") Tiếp tục mua hàng
             button(onclick="clearCart();") Xóa
             button(onclick="updateCartInPage();") Cập nhật

include modules/footer

script(type="application/javascript" src="../js/cart.js")
